#usuario {
    width: 100%;
    height: 80px;
    padding-top: 45px;
    background-color: rgba(226, 152, 109, 0.842);
}



table, td, tr, th {
    width: auto;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgba(235, 225, 211, 0.801);
}

th, td {
    padding: 5px 18px;
}

table {
    margin: 0 auto;
}

#datos {
    text-align: center;
    margin-top: 20px;
    background-color: rgba(226, 152, 109, 0.842);
    padding: 18px 0;
}

#datos div {
    display: inline-block;
}

#datos div:first-child {
    margin-right: 40px;
}

input {
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 25px;
}

.b-detalle {
    background-color: rgb(63, 154, 228);
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.b-detalle:hover {
    background-color: rgb(26, 99, 128);
    cursor: pointer;
}

.b-reagendar {
    background-color: rgb(63, 63, 228);
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.b-reagendar:hover {
    background-color: rgb(26, 26, 128);
    cursor: pointer;
}

.b-cancelar {
    background-color: rgb(228, 63, 63);
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.b-cancelar:hover {
    background-color: rgb(26, 26, 128);
    cursor: pointer;
}

#b-home {
    display: inline-block;
    background-color: rgb(46, 127, 151);
    color: aliceblue;
    width: 80px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

#b-home:hover {
    background-color: rgb(76, 145, 167);
    cursor: pointer;
}

#b-volver {
    display: inline-block;
    background-color: rgb(152, 27, 177);
    color: aliceblue;
    width: 80px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

#b-volver:hover {
    background-color: rgb(59, 21, 90);
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 60px;
    }

    #usuario {
        height: fit-content;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #usuario label, #usuario input {
        margin: 0 auto;
        display: block;
    }

    #datos {
        overflow-x: auto;
    }

    #datos table td:nth-child(6), #datos table th:nth-child(6), #datos table th:nth-child(7), #datos table td:nth-child(7), #datos table th:nth-child(2), #datos table td:nth-child(2){
        display: none;
        background-color: aqua;
    }
}