.contenedor-formulario div {
    background-color: rgba(36, 123, 223, 0.425);
    height: 250px;
}

.contenedor-formulario div:first-child {
    margin-right: 60px;
}

.titulo-form {
    color: #e4e3e9;
    background-color: rgba(8, 8, 17, 0.795);
}


.contenedor-formulario {
    width: 100%;
    text-align: center;
}

.caja {
    display: inline-block;
    width: 30%;
    text-align: center;
    box-shadow: 1px 5px 10px;
}

.caja label {
    font-size: 20px;
}

.caja input {
    margin-top: 20px;
    margin-bottom: 30px;
    height: 30px;
}

#volver {
    margin-top: 130px;
    width: 100%;
    box-shadow: none;
}

.b-consultar {
    background-color: rgb(18, 69, 146);
    color: aliceblue;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.b-consultar:hover {
    background-color: rgb(19, 52, 102);
    cursor: pointer;
}

#b-volver {
    display: inline-block;
    background-color: rgb(152, 27, 177);
    color: aliceblue;
    width: 80px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

#b-volver:hover {
    background-color: rgb(59, 21, 90);
    cursor: pointer;
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 60px;
    }

    .caja {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .contenedor-formulario .caja:first-child {
        margin-right: 0px;
    }

    #volver {
        margin-top: 0px;
    }
}