#datosMascota, #datosCita, #motivo, #obser, #resultado {
    background-color: rgba(226, 152, 109, 0.842);
    padding-bottom: 20px;
}

#datosMascota, #datosCita {
    height: 150px;
}

table, td, tr, th {
    width: auto;
    border-collapse: collapse;
    background-color: rgba(235, 225, 211, 0.801);
}

th, td {
    padding: 5px 18px;
}

th {
    border-bottom: 2px dashed black;
}

table {
    margin: 0 auto;
}

div textarea {
    width: 450px;
    height: 100px;
    background-color: antiquewhite;
}

#b-home {
    display: inline-block;
    background-color: rgb(46, 127, 151);
    color: aliceblue;
    width: 80px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.veterinario {
    font-size: 28px;
    background-color: rgb(52, 175, 3);
    color: aliceblue;
    height: 40px;
}

#b-home:hover {
    background-color: rgb(76, 145, 167);
    cursor: pointer;
}
#b-volver {
    display: inline-block;
    background-color: rgb(152, 27, 177);
    color: aliceblue;
    width: 80px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

#b-volver:hover {
    background-color: rgb(59, 21, 90);
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 60px;
    }
    div textarea {
        width: 350px;
        height: 100px;
        background-color: antiquewhite;
    }
}